.person-list{
  max-width: 745px;
  margin: 20px auto 0;
  padding: 0 200px;
}

.person-list article{
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.person-list article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}
.person-list article a{
    text-decoration: none;
    height: 42px;
    border-radius: 5px;
    border: 2px solid #999;
    color: #ccc;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
}
.person-list article a:hover{
    padding: 3px;
    background: #E55D87;  
    background: -webkit-linear-gradient(to right, #5FC3E4, #E55D87);  
    background: linear-gradient(to right, #5FC3E4, #E55D87); 
    transition: all 0.2s;

}

