#main-header{
    margin: 0;
    background: #da552f;
    width: 100%;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
}